body {
  text-align: center;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }

#board {
   border-collapse: collapse;
   justify-content: center;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
}

#board td {
    position: relative; /* This is important to make the pseudo-elements position correctly */
    border: 1px solid grey;
    height: 80px;
    width: 80px;
}

#board td::before, #board td::after {
  padding: 3px;
  visibility: hidden;
}

#board .rotate::before, #board .rotate::after {
  transform: rotate(180deg);
}

#board .show::before, #board .show::after {
  visibility: visible;
}

#board td::before {
  content: attr(data-top);
  position: absolute;
  top: 0;
  left: 0;
  color: red;
}

#board td::after {
  content: attr(data-bottom);
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
}

#board tr:nth-child(odd) td:nth-child(odd)::before,
#board tr:nth-child(even) td:nth-child(even)::before,
#board tr:nth-child(odd) td:nth-child(odd)::after,
#board tr:nth-child(even) td:nth-child(even)::after  {
  color: black;
}

#board tr:nth-child(odd) td:nth-child(even)::before,
#board tr:nth-child(even) td:nth-child(odd)::before,
#board tr:nth-child(odd) td:nth-child(even)::after,
#board tr:nth-child(even) td:nth-child(odd)::after  {
  color: white;
}

@media all and (orientation:landscape) {
  @media screen and (max-height: 775px) {
    #board td {
        border: 1px solid grey;
        height: calc(12.5vh - 12px);
        width: calc(12.5vh - 12px);
    }
    h1 {
        display: none;
      }
  }
}

@media all and (orientation:portrait) {
  @media screen and (max-width: 690px) {
    #board td {
        border: 1px solid grey;
        height: calc(12.5vw - 5.12px);
        width: 12.5vw;
    }
  }
}

#board tr:nth-child(odd) td:nth-child(even),
#board tr:nth-child(even) td:nth-child(odd) {
  background-color:#a6a6a6;
}

.correct {
    background-color: #91ebbe;
}

.incorrect {
    background-color: #e38b81;
}

#result {
  font-weight: bold;
}

#target {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.flipped {
    transform: rotate(180deg);
}

.hidden {
    display: none;
}
